<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Francis Dierick (Quantter)</string>
	<key>CFBundleDisplayName</key>
	<string>Quantter</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.quantter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>sayHello</string>
				<key>Identifier</key>
				<string>sayHello</string>
				<key>Image</key>
				<string>Icon-16.png</string>
				<key>Label</key>
				<string>Quantter</string>
				<key>Palette Label</key>
				<string>Quantter</string>
				<key>Tool Tip</key>
				<string>Quantter</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Quantter extension for users to update their activities.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.quantter.com</string>
</dict>
</plist>
